@page
@model Fase1.Web.Pages.Contato.IndexModel
@{
    ViewData["Title"] = "Home - Contatos";
}

@* <div class="row align-items-center justify-content-center">
    <form method="get" class="row col-auto">
        <div class="g-col-4">
            <label for="searchDDD">Buscar por DDD:</label>
            <input type="text" name="searchDDD" value="@Model.SearchDDD" class="form-control" placeholder="000" maxlength="3" min="3" />
        </div>
        <div class="g-col-4">
            <input type="submit" value="Buscar" class="btn btn-dark" />
        </div>
    </form>

    <p class="col-auto">
        <a asp-page="./Create" class="btn btn-primary">Novo contato</a>
    </p>
</div> *@

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="get">
                <div class="row align-items-center">
                    <input type="text" name="searchDDD" value="@Model.SearchDDD" class="form-control col" placeholder="Buscar por DDD: ex:. 000" maxlength="3" />
                    <input type="submit" value="Buscar" class="btn btn-dark col-2" />
                </div>
            </form>
        </div>
        <div class="col-2">
            <p>
                <a asp-page="./Create" class="btn btn-primary">Novo contato</a>
            </p>
        </div>
    </div>
</div>

@if (Model.Contatos.Count == 0)
{
    <div class="alert alert-danger" role="alert">
        Nenhum contato encontrado!
    </div>
}
else
{
    <div class="container mt-5">
        <div class="row">
            @foreach (var contato in Model.Contatos)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">@contato.Nome</h5>
                            <p class="card-text">@contato.Telefone</p>
                            <p class="card-text text-truncate">@contato.Email</p>

                            <div class="mt-4" style="display:flex; gap:4px; align-items:center;justify-content:center;">
                                <a asp-page="./Edit" asp-route-id="@contato.Id" class="btn btn-info">Editar</a>

                                <form asp-page-handler="delete" method="post" asp-route-id="@contato.Id">
                                    <button class="btn btn-danger btn-sm">Excluir</button>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">Cadastrado em: @contato.CadastradoEm.ToString("dd/MM/yyyy HH:mm")</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

